@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}
<div class="container col-md-12">
    <div class="well col-md-6 col-md-offset-3">
        <article>
            <header>
                <h2>
                    @Model.Title
                    <a href="/Commentary/Create/@Model.Id" class="pull-right btn btn-default btn-sm">
                        Comment
                    </a>
                </h2>
            </header>
            <p>
                @Model.Content
            </p>

            <div class="author text-primary">
                Created by @Model.Author.FullName
            </div>
            <footer class="pull-right">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
            </footer>
        </article>
    </div>
</div>
<div class="container col-md-6 col-md-offset-3">
    <h4>Comments</h4>
</div>

@foreach (var comment in Model.Commentaries)
{
    <div class="container col-md-12">
        <div class="well col-md-6 col-md-offset-3">
            <article>
                <header></header>
                <p>
                    @comment.Content
                </p>

                <div class="author text-primary">
                    by @comment.AuthorName
                </div>
                    <footer class="pull-right">
                        <a href="#" @*onclick="upvote();"*@ class="btn btn-default btn-xs">&#8593;</a>
                        <span class="badge">@comment.Points</span>
                        <a href="#" @*onclick="downVote();"*@ class="btn btn-default btn-xs">&#8595;</a>
                    </footer>
            </article>
        </div>
    </div>
}
@*<script>
        var vote = 0;

        function upvote() {
            vote++;
            $("#@comment.Id").html(vote)
        }

        function downVote() {
            vote--;
            $("#@comment.Id").html(vote)
        }
    </script>*@


