@model Blog.Models.CategoryViewModel

@{
    ViewBag.Title = "ListByCategory/";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-center">You have chosen: @Model.Name</h5>
            <div class="list-group">
                @foreach (var category in Model.Categories)
                {
                    <a href="@category.Id" class="list-group-item">
                        <span class="badge">@category.Articles.Count</span>
                        @category.Name
                    </a>
                }
            </div>
        </div>
        <h5 class="text-center">List of Articles from the house of @Model.Name</h5>
        <div class="col-md-9">
            @foreach (var article in Model.Articles)
            { <div class="well">
                <h4 class="text-primary">@article.Title</h4>
                <p>@article.Content.Substring(0,article.Content.Length/2).....</p>
                <footer>
                    <div class="row">
                        <div class="pull-left col-md-7">
                            @foreach (var tag in article.Tags)
                            {
                                <span class="label label-default">@tag.Name</span>
                            }
                        </div>
                        <div class="pull-right col-md-2 text-primary">
                            Author: @article.Author.FullName
                        </div>
                    </div>
                </footer>
                <footer>
                    <div class="row">
                        <div class="pull-right col-md-2">
                            <a href="/Article/Details/@article.Id" class="btn btn-primary btn-sm">View details</a>
                        </div>
                    </div>
                </footer>
            </div>
            }
        </div>
    </div>
</div>
